In [1]:
#import required libraries 
import streamlit as st
import sqlite3
import os
import json
from PIL import Image
import plotly.express as px
import pandas as pd
from streamlit_option_menu import option_menu
import requests

In [2]:
#Cloning the Data directly from the Github 
response = requests.get('https://api.github.com/repos/PhonePe/pulse')
repo = response.json()
clone_url = repo['clone_url']
repo_name = "pulse"
clone_dir = os.path.join(os.getcwd(), repo_name)

In [4]:

# get the data as states
path = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list = os.listdir(path)

In [5]:
clm = {'State': [], 'Year': [], 'Quater': [], 'Transaction_type': [], 'Transaction_count': [], 'Transaction_amount': []}
for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            D = json.load(Data)
            for z in D['data']['transactionData']:
                Name = z['name']
                count = z['paymentInstruments'][0]['count']
                amount = z['paymentInstruments'][0]['amount']
                clm['Transaction_type'].append(Name)
                clm['Transaction_count'].append(count)
                clm['Transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))

# CReated Dataframe Successfully
df_aggregated_transaction = pd.DataFrame(clm)
print(df_aggregated_transaction)

                       State  Year  Quater          Transaction_type  \
0     andaman&nicobarislands  2018       1  Recharge & bill payments
1     andaman&nicobarislands  2018       1     Peer-to-peer payments
2     andaman&nicobarislands  2018       1         Merchant payments
3     andaman&nicobarislands  2018       1        Financial Services
4     andaman&nicobarislands  2018       1                    Others
...                      ...   ...     ...                       ...
4129             west-bengal  2023       3         Merchant payments
4130             west-bengal  2023       3     Peer-to-peer payments
4131             west-bengal  2023       3  Recharge & bill payments
4132             west-bengal  2023       3        Financial Services
4133             west-bengal  2023       3                    Others

      Transaction_count  Transaction_amount
0                  4200        1.845307e+06
1                  1871        1.213866e+07
2                   298        4.525072e+05
3                    33        1.060142e+04
4                   256        1.846899e+05
...                 ...                 ...
4129          296965002        2.004404e+11
4130          271150280        8.310501e+11
4131           63055684        3.920985e+10
4132             389751        4.249856e+08
4133             532474        4.232851e+08

[4134 rows x 6 columns]

In [6]:
path2 = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/aggregated/user/country/india/state/"
user_list = os.listdir(path2)

col2 = {'State': [], 'Year': [], 'Quater': [], 'brands': [], 'Count': [],
        'Percentage': []}
for i in user_list:
    p_i = path2 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            B = json.load(Data)
            try:
                for w in B["data"]["usersByDevice"]:
                    brand_name = w["brand"]
                    count_ = w["count"]
                    ALL_percentage = w["percentage"]
                    col2["brands"].append(brand_name)
                    col2["Count"].append(count_)
                    col2["Percentage"].append(ALL_percentage)
                    col2["State"].append(i)
                    col2["Year"].append(j)
                    col2["Quater"].append(int(k.strip('.json')))
            except:
                pass

# CReated Dataframe Successfully
df_aggregated_user = pd.DataFrame(col2)
print(df_aggregated_user)

                          State  Year  Quater   brands    Count  Percentage
0     andaman-&-nicobar-islands  2018       1   Xiaomi     1665    0.247033
1     andaman-&-nicobar-islands  2018       1  Samsung     1445    0.214392
2     andaman-&-nicobar-islands  2018       1     Vivo      982    0.145697
3     andaman-&-nicobar-islands  2018       1     Oppo      501    0.074332
4     andaman-&-nicobar-islands  2018       1  OnePlus      332    0.049258
...                         ...   ...     ...      ...      ...         ...
6727                west-bengal  2022       1   Lenovo   330017    0.015056
6728                west-bengal  2022       1  Infinix   284678    0.012987
6729                west-bengal  2022       1     Asus   280347    0.012790
6730                west-bengal  2022       1    Apple   277752    0.012671
6731                west-bengal  2022       1   Others  2196334    0.100199

[6732 rows x 6 columns]

In [9]:
# Extracting the data to create the dataframe as Map (Transaction)

path3 = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/map/transaction/hover/country/india/state/"
hover_list = os.listdir(path3)

col3 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'count': [],
        'amount': []}
for i in hover_list:
    p_i = path3 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            C = json.load(Data)
            for x in C["data"]["hoverDataList"]:
                District = x["name"]
                count = x["metric"][0]["count"]
                amount = x["metric"][0]["amount"]
                col3["District"].append(District)
                col3["count"].append(count)
                col3["amount"].append(amount)
                col3['State'].append(i)
                col3['Year'].append(j)
                col3['Quater'].append(int(k.strip('.json')))

# CReated Dataframe Successfully
df_map_transaction = pd.DataFrame(col3)
print(df_map_transaction)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
16827                west-bengal  2023       3
16828                west-bengal  2023       3
16829                west-bengal  2023       3
16830                west-bengal  2023       3
16831                west-bengal  2023       3

                                District     count        amount
0      north and middle andaman district       442  9.316631e+05
1                 south andaman district      5688  1.256025e+07
2                      nicobars district       528  1.139849e+06
3      north and middle andaman district       825  1.317863e+06
4                 south andaman district      9395  2.394824e+07
...                                  ...       ...           ...
16827                     nadia district  30146530  5.787869e+10
16828                   birbhum district  17597047  3.090737e+10
16829           purba medinipur district  34244893  6.813718e+10
16830                    maldah district  28539407  5.299766e+10
16831                 darjiling district  14747572  2.463195e+10

[16832 rows x 6 columns]

In [8]:
# Extracting the data to create the dataframe as Map (User)

path4 = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/map/user/hover/country/india/state/"
map_list = os.listdir(path4)

col4 = {"State": [], "Year": [], "Quater": [], "District": [],
        "RegisteredUser": []}
for i in map_list:
    p_i = path4 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            D = json.load(Data)

            for u in D["data"]["hoverData"].items():
                district = u[0]
                registereduser = u[1]["registeredUsers"]
                col4["District"].append(district)
                col4["RegisteredUser"].append(registereduser)
                col4['State'].append(i)
                col4['Year'].append(j)
                col4['Quater'].append(int(k.strip('.json')))

# CReated Dataframe Successfully
df_map_user = pd.DataFrame(col4)
print(df_map_user)

                           State  Year  Quater  \
0      andaman-&-nicobar-islands  2018       1
1      andaman-&-nicobar-islands  2018       1
2      andaman-&-nicobar-islands  2018       1
3      andaman-&-nicobar-islands  2018       2
4      andaman-&-nicobar-islands  2018       2
...                          ...   ...     ...
16831                west-bengal  2023       3
16832                west-bengal  2023       3
16833                west-bengal  2023       3
16834                west-bengal  2023       3
16835                west-bengal  2023       3

                                District  RegisteredUser
0      north and middle andaman district             632
1                 south andaman district            5846
2                      nicobars district             262
3      north and middle andaman district             911
4                 south andaman district            8143
...                                  ...             ...
16831                     nadia district         1544294
16832                   birbhum district          974363
16833           purba medinipur district         1530289
16834                    maldah district         1091634
16835                 darjiling district          637665

[16836 rows x 5 columns]

In [10]:

# Extracting the data to create the dataframe as Top (Transaction)

path5 = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/top/transaction/country/india/state/"
TOP_list = os.listdir(path5)

col5 = {'State': [], 'Year': [], 'Quater': [], 'District': [], 'Transaction_count': [],
        'Transaction_amount': []}
for i in TOP_list:
    p_i = path5 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            E = json.load(Data)
            for z in E['data']['pincodes']:
                Name = z['entityName']
                count = z['metric']['count']
                amount = z['metric']['amount']
                col5['District'].append(Name)
                col5['Transaction_count'].append(count)
                col5['Transaction_amount'].append(amount)
                col5['State'].append(i)
                col5['Year'].append(j)
                col5['Quater'].append(int(k.strip('.json')))

# CReated Dataframe Successfully
df_top_transaction = pd.DataFrame(col5)
print(df_top_transaction)

                          State  Year  Quater District  Transaction_count  \
0     andaman-&-nicobar-islands  2018       1   744101               1622
1     andaman-&-nicobar-islands  2018       1   744103               1223
2     andaman-&-nicobar-islands  2018       1   744102                969
3     andaman-&-nicobar-islands  2018       1   744105                685
4     andaman-&-nicobar-islands  2018       1   744104                340
...                         ...   ...     ...      ...                ...
8205                west-bengal  2023       3   700001            3536928
8206                west-bengal  2023       3   721301            3464729
8207                west-bengal  2023       3   700039            3405551
8208                west-bengal  2023       3   732125            3347165
8209                west-bengal  2023       3   700015            3304464

      Transaction_amount
0           2.769298e+06
1           2.238042e+06
2           3.519060e+06
3           1.298561e+06
4           1.039715e+06
...                  ...
8205        7.193522e+09
8206        4.871566e+09
8207        5.095825e+09
8208        5.353831e+09
8209        5.003674e+09

[8210 rows x 6 columns]

In [11]:
# Extracting the data to create the dataframe as Top (user)
path6 = "C:/Users/Diwa/Desktop/DS/python/phnpe/pulse/data/top/user/country/india/state/"
USER_list = os.listdir(path6)

col6 = {'State': [], 'Year': [], 'Quater': [], 'District': [],
        'RegisteredUser': []}
for i in USER_list:
    p_i = path6 + i + "/"
    Agg_yr = os.listdir(p_i)

    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)

        for k in Agg_yr_list:
            p_k = p_j + k
            # print(p_k)
            Data = open(p_k, 'r')
            F = json.load(Data)
            for t in F['data']['pincodes']:
                Name = t['name']
                registeredUser = t['registeredUsers']
                col6['District'].append(Name)
                col6['RegisteredUser'].append(registeredUser)
                col6['State'].append(i)
                col6['Year'].append(j)
                col6['Quater'].append(int(k.strip('.json')))

# CReated Dataframe Successfully
df_top_user = pd.DataFrame(col6)
print(df_top_user)

                          State  Year  Quater District  RegisteredUser
0     andaman-&-nicobar-islands  2018       1   744103            1608
1     andaman-&-nicobar-islands  2018       1   744101            1108
2     andaman-&-nicobar-islands  2018       1   744105            1075
3     andaman-&-nicobar-islands  2018       1   744102            1006
4     andaman-&-nicobar-islands  2018       1   744104             272
...                         ...   ...     ...      ...             ...
8206                west-bengal  2023       3   700015          122316
8207                west-bengal  2023       3   742304          119245
8208                west-bengal  2023       3   721101          118798
8209                west-bengal  2023       3   700150          114987
8210                west-bengal  2023       3   734006          113991

[8211 rows x 5 columns]

In [ ]:

# checking for missing and null values:

# df_aggregated_transaction.info()
# df_aggregated_user.info()
# df_map_transaction.info()
# df_map_user.info()
# df_top_transaction.info()
# df_top_user.info()

In [13]:

# Connect to the MySQL server

import mysql.connector


mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="", 
)

print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection.MySQLConnection object at 0x000001C93FF97F10>

In [ ]:
# Create a new database and use

mycursor.execute("CREATE DATABASE phonepe_pulse")

In [15]:
# Connect to the new created database
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import create_engine, types
from sqlalchemy.exc import OperationalError


engine = create_engine('mysql+mysqlconnector://root:@localhost/phonepe_pulse', echo=False)

try:
    with engine.connect() as connection:
        print("Connected to the database successfully!")

except OperationalError as e:
    print(f"Connection failed: {e}")

Connected to the database successfully!

In [16]:
# 1
df_aggregated_transaction.to_sql('aggregated_transaction', engine, if_exists = 'replace', index=False,   
                                 dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                       'Year': sqlalchemy.types.Integer, 
                                       'Quater': sqlalchemy.types.Integer, 
                                       'Transaction_type': sqlalchemy.types.VARCHAR(length=50), 
                                       'Transaction_count': sqlalchemy.types.Integer,
                                       'Transaction_amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

-1

In [17]:
# 2
df_aggregated_user.to_sql('aggregated_user', engine, if_exists = 'replace', index=False,
                          dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                 'Year': sqlalchemy.types.Integer, 
                                 'Quater': sqlalchemy.types.Integer,
                                 'Brands': sqlalchemy.types.VARCHAR(length=50), 
                                 'User_Count': sqlalchemy.types.Integer, 
                                 'User_Percentage': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

-1

In [ ]:
# 3                       
df_map_transaction.to_sql('map_transaction', engine, if_exists = 'replace', index=False,
                          dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                 'Year': sqlalchemy.types.Integer, 
                                 'Quater': sqlalchemy.types.Integer, 
                                 'District': sqlalchemy.types.VARCHAR(length=50), 
                                 'Transaction_Count': sqlalchemy.types.Integer, 
                                 'Transaction_Amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

In [20]:
# 4
df_map_user.to_sql('map_user', engine, if_exists = 'replace', index=False,
                   dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                          'Year': sqlalchemy.types.Integer, 
                          'Quater': sqlalchemy.types.Integer, 
                          'District': sqlalchemy.types.VARCHAR(length=50), 
                          'Registered_User': sqlalchemy.types.Integer, })

-1

In [21]:
# 5                  
df_top_transaction.to_sql('top_transaction', engine, if_exists = 'replace', index=False,
                         dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                                'Year': sqlalchemy.types.Integer, 
                                'Quater': sqlalchemy.types.Integer,   
                                'District_Pincode': sqlalchemy.types.Integer,
                                'Transaction_count': sqlalchemy.types.Integer, 
                                'Transaction_amount': sqlalchemy.types.FLOAT(precision=5, asdecimal=True)})

-1

In [22]:
# 6
df_top_user.to_sql('top_user', engine, if_exists = 'replace', index=False,
                   dtype={'State': sqlalchemy.types.VARCHAR(length=50), 
                          'Year': sqlalchemy.types.Integer, 
                          'Quater': sqlalchemy.types.Integer,                           
                          'District_Pincode': sqlalchemy.types.Integer, 
                          'Registered_User': sqlalchemy.types.Integer,})

-1